#officers {
  /*background-image: url('../img/wcs/newofficers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100% !important;
  height: 100vh !important;
  min-height: 100vh !important;
  min-width: 100% !important;*/
  .col-md-10 {
    #officerImg {
      @extend .center;
      img {
        width: 80%;
      }
    }
  }
  .btnContainer {
    margin-top: 18px;
    margin-bottom: 10px;
    @extend .center;
    button {
      color: $gray;
      &:hover {
        color: $black;
      }
    }
  }
}

.officerPicture {
  width: 100%;
  height: auto;
}

#meetOfficers {
  padding-top: 5%;
}