.carousel-inner {
  .item {
    opacity: 0.75;
    transition-property: opacity;
    width: 100% !important;
    height: 72.5vh !important;
    overflow: hidden;
    img {
      position: relative;
      width: 100%;
    }
  }

  .active {
    opacity: 1;
  }
}