$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$font-custom: 'Happy Monkey', cursive;
$font-body: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

$default-border-radius : 10px;

$underline-color: #D93427;
$body-color: #3A3A3A;
$white: #fff;