@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

img.img-poster{
	height: auto;
	width: 12vw;
	padding: 15px;
}

.movie-info{
	padding: 0px 20px;
}

.btn-animate{
	@include transition(0.5s ease-in-out);
}

.btn-animate:hover{
	@include scale(1.2);
}