body {
  overflow-x: hidden;
}

/* Navbar */
.navbar-brand img {
  height: 45px;
  padding: 0px;
  margin: -12px;
}

.navbar .container-fluid {
  padding: 0 10% 0 10%;
}

/* Divs */
.padded {
  padding: 0 10% 0 10%;
}

/* Home */
.carousel-inner .item {
  opacity: 0.75;
  transition-property: opacity;
}

  .carousel-inner .item{
    width: 100% !important;
    height: 100vh !important;
    min-height: 100vh !important;
    overflow: hidden;
  }
  
  .item > img {
    position: relative;
    width: 100%;
  }

.carousel-inner .active {
  opacity: 1;
}

.homeText, .homeSubText {
  color: white;
}

  .homeText {
    padding-top: 5%;
    font-size: 7em;
  }

  .homeSubText {
    padding-top: 25%;
    font-size: 4em;
  }

.arrowDown {
  text-align: center;
}

  .arrowDown i {
    color: white;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
  }

/* About */
#about {
  padding: 0 10% 0 10%;
}

#mission {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Officers */
#officers {
  background-image: url('../img/wcs/newofficers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100% !important;
  height: 100vh !important;
  min-height: 100vh !important;
  min-width: 100% !important;
  position: relative;
  text-align: center;
  vertical-align: center;
}

#meetOfficersBtn {
  position: absolute;
  bottom: 10%;
  margin: 0 auto;
}

/* Members */
.memberImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  text-align: center;
  vertical-align: center;
  height: 40vh !important;
  padding: -15 !important;
}

#techTeam {
  background-image: url('../img/members/techteam.jpg');
}

#techTeam:hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/members/techteam.jpg');    
}

#mentoring {
  background-image: url('../img/members/mentoring.jpg');
}

#mentoring:hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/members/mentoring.jpg');    
}

#outreach {
  background-image: url('../img/members/outreach.jpg');
}

#outreach:hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/members/outreach.jpg');
}

#memberPortal {
  background-image: url('../img/members/memberPortal.jpg');
}

#memberPortal:hover {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('../img/members/memberPortal.jpg');
}

.memberImage h2 {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

/* Sponsors */
.sponsors-row {
  padding-bottom: 2%;
}

.sponsor-small{
  vertical-align: center;
  width: 100%;
}

/* Temporary */
.filler {
  width: 100%;
  height: 100vh;
}